<h1>New User</h1>

<%= form_with scope: :user, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %><br>
    <%= form.label :date_of_birth %><br>
    <%= form.date_field :date_of_birth, class: 'form-control' %><br>
    <%= form.label :gender %><br>
    <%= form.text_field :gender %><br>
    <%= form.label :email_address %><br>
    <%= form.text_field :email_address %><br>
    <%= form.label :encrypted_password %><br>
    <%= form.text_field :encrypted_password %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>